.avatar {
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease-in-out;
}

.avatar:hover {
  transform: translateY(-10px);
}

.selected {
  border: 5px solid #14525e;
  border-radius: 50%;
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}